<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:fragment="head-include">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>ATM</title>

<link rel="icon" type="image/x-icon" th:href="@{/images/atm.ico}" />
<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/atm.ico}" />
<link rel="apple-touch-icon" th:href="@{/images/atm.png}" />


<!-- Bootstrap Core -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}"
	rel="stylesheet" />

<!-- Bootstrap Date Time Picker -->
<link th:href="@{/webjars/angular-bootstrap-datetimepicker/0.3.8/css/datetimepicker.css}" rel="stylesheet" />

<!-- Bootstrap Validator -->
<link th:href="@{/webjars/bootstrapvalidator/0.5.3/css/bootstrapValidator.css}" rel="stylesheet" />

<!-- MetisMenu CSS -->
<link th:href="@{/webjars/metisMenu/1.1.2/metisMenu.css}" rel="stylesheet" />

<!-- Font Awesome -->
<link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.css}" rel="stylesheet" type="text/css" />

<!-- Morris Charts CSS -->
<link th:href="@{/webjars/morrisjs/0.5.1/morris.css}" rel="stylesheet" />

<!-- DataTables CSS -->
<link th:href="@{/webjars/datatables-plugins/ca6ec50/integration/bootstrap/3/dataTables.bootstrap.css}" rel="stylesheet" />

<!-- Custom CSS -->
<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />
<link th:href="@{/css/timeline.css}" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
</body>

</html>